body, html {
	margin:70px 0 0 0;
	padding:0;
	font-family: 'Quicksand', sans-serif;
	line-height:30px;
	background-color:#e2e2e2;
}

/**************** navbar ****************/

.navbar {
	width:100%;
	position:fixed;
	top:0;
	margin:0;
	padding:0;
	transition: top 0.3s;
}

.navbar a {
	text-decoration:none;
}

.navbar ul {
	display:flex;
	margin:0;
	list-style:none;
	background-color:darkcyan;
	justify-content:space-between;
	align-items:center;
}

.textContainer {
	display:flex;
}

.navbar ul li.navText {
	display:block;
	padding:20px;
	color:white;
	margin:auto 0;
	cursor:pointer;
}

.navbar ul li.navText:hover {
	background-color:#00a5a5;
}

#dropdownIcon{
	display:none;
}

.navbar ul div.imgContainer {
	margin-top:0;
}

/**************** /navbar ****************/

/**************** Info ****************/

.info {
	text-align:center;
	margin: 50px;
}

.info h1, .info h2, .info h3{
	color:darkcyan;
}

.info em {
	font-size:1.3em;
}

.info div.textPics {
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin:40px auto 30px auto;
}

.info div.textPics div.infoText {
	margin:0 30px;
	text-align:justify;
}

.info p {
	font-size:1.2em;
}

.info h2 {
	font-size:27px;
}

.info div.textPics div.infoText p {
	font-size:1.2em;
}

.info div.textPics div.infoText h2 {
	font-size:27px;
	margin:0;
}

.info div.textPics div.imgContainer img{
	border-radius:5px;
}

/**************** /Info ****************/


/************telefonito***********/
@media screen and (max-width:960px) {

/**************** navbar ****************/
	.navbar ul li.navText {
		display:none;
	}	

	.responsive ul {
		position:relative;
		display:block;
		padding-left:0px;
	}

	.responsive ul div.imgContainer {
		margin-left:30px;
	}

	.responsive .textContainer {
		flex-direction:column;
	}

	.responsive ul li.navText {
		display:block;
	}

	#dropdownIcon{
		display:block;
		font-size:20px;
	}

	.responsive #dropdownIcon {
		position:absolute;
		top:0;
		right:0;
	}
/**************** /navbar ****************/

}

@media screen and (max-width:290px) {
	.navbar ul div.imgContainer {
		display:none;
	}

	.navbar ul {
		justify-content:flex-end;
	}

	#dropdownIcon { 
		float:right;
		right:0;
	}

	
}

/**************** Empresa ****************/

@media screen and (max-width:1100px) {
	.info div.textPics {
		display:block;
	}	

	div.infoText {
		margin:0 !important;
	}

	div.textPics h2 {
		text-align:center;
	}

	div.textPics .imgContainer {
		display:none;
	}
}

/**************** /Empresa ****************/

